# System requirement: ffmpeg (must be installed on your OS for Whisper to work)
fastapi
uvicorn[standard]
python-multipart
python-dotenv
tensorflow
roboflow
ultralytics
openai-whisper
groq
elevenlabs
pillow
numpy
